* {
    background-color: black;
}
header {
    display: flex;
    justify-content: center;
    gap: 4rem;
}
h1 {
    color: yellow;
}
p {
    color: white;
    font-size: 14px;
}
a {
    color: ghostwhite;
}